td,
th {
  vertical-align: middle !important;
  text-align: center !important;
}
.input-group {
  margin: 20px 0;
}
svg {
  height: 150px;
}

td:nth-of-type(1n),
td:nth-of-type(1n) > div {
  width: 250px;
  height: 200px;
}